<div id="ctn-phone-top" class="container">
<br>

  <main>
    <section>
      <h1 class="medications">Index <%= @index.letter %></h1>
    </section>
  </main>
  <div id="stanley">
    <%  @indices.each do |index| %>
      <button class="stanley letter-index" type="button" onclick="window.location.href='/indices/<%=index.id %>'"><%= index.letter %></button>
    <% end %>
  </div>
  <table id="loki" class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th class="bigger-font" scope="col"><%= @index.letter %></th>
      </tr>
    </thead>
    <tbody>
      <% medications_under_index("#{@index.id}").each do |medication|%>
      <tr>
        <th class="bigger-font" scope="row"><a href="/medications/<%=medication.id%>"><%= medication.name %></a></th>
      </tr>
      <% end %>
    </tbody>
  </table> 


<div class="push"></div> 
</div>